body {
    background-color: rgb(135, 209, 222);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.move-left {
    display: inline-block;
    width: 50%;
    float: left;
}
div.move-right {
    display: inline-block;
    width: 50%;
    float: right;
}
div.move-left:after, div.move-right:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 300%;
    font-family: 'Londrina Solid', cursive;
}
.supertitle {
    font-size: 70%;
}
h2 {
    display: block;
    margin: 0px;
    padding: none;
    text-align: center;
    font-size: 200%;
    color: yellow;
}
.presented {
    margin-bottom: 0px;
    text-align: center;
}
table#gameboard, table.thumbnail{
    border-collapse: collapse;
}
table#gameboard {
    float: right;
    margin: 20px;
    box-shadow: 0px 0px 16px 16px #ffffff;
}
table.thumbnail {
    box-shadow: 0px 0px 4px 4px #ffffff;
    margin: 10px;
}
table#gameboard tr, table.thumbnail tr {
    border: solid 1px;
    border-color: #555555;
}
table#gameboard tr {
    height: 20px;
}
table.thumbnail tr {
    height: 4px;
}
table#gameboard td, table.thumbnail td {
    padding: 0px;
    background-color: black;
    color: black;
    font-size: 0px;
    border: solid 1px;
    border-color: #555555;
}
table#gameboard td {
    width: 20px;
}
table.thumbnail td {
    width: 3px;
}
table#gameboard td.alive, table.thumbnail td.alive {
    background-color: yellow;
    color: yellow;
}
div.button-panel {
    display: block;
    background-color: #003399;
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 7px;
}
div.button-panel:after {
    content: "";
    display: table;
    clear: both;
}
div.button-set {
    float: left;
    width: 33%;
}
div.button-set:after {
    content: "";
    clear: both;
}
div.startPatternThumb {
    float: left;
    width: 33%;
    height: 100%
}
div.startPatternThumb:after {
    content: "";
    display: table;
    clear: both;
}
button {
    height: 2.5ex;
    width: 5em;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 7px;
    font-size: 35px;
    margin: 10px;
    float: left;
    display: 10px;
}
button:enabled:hover {
    background-color: yellow;
}
button:disabled {
    border-color: #cccccc;
    color: #cccccc;
}
button:disabled:hover {
    background-color: white;
}
